<div class="addProduct">
    <h1>Add New Product</h1>
    <p class="message-p">{{updateMessage}}</p>
    <form #addproduct="ngForm" (ngSubmit)="submit(addproduct.value)" class="common-form">
        <input type="text" class="form-input" placeholder="Enter Product" name="product" ngModel="{{productDetails?.product}}">
        <input type="text" class="form-input" placeholder="Enter Price" name="price" ngModel="{{productDetails?.price}}">
        <input type="text" class="form-input" placeholder="Enter Category" name="category" ngModel="{{productDetails?.category}}">
        <input type="text" class="form-input" placeholder="Enter Color" name="color" ngModel="{{productDetails?.color}}">
        <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description" ngModel="{{productDetails?.description}}"></textarea>
        <input type="text" class="form-input" placeholder="Product Image URL" name="image" ngModel="{{productDetails?.image}}">
        <button class="form-button">Update Product</button>
    </form>
</div>

